/* Style CSS pour le formulaire de contact */
*{
    font-family: poppins;
}
.nous-contacter-container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
  }
  
  input,
  textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  textarea {
    height: 150px;
  }
  
  .submit-btn {
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }
  
  /* Style pour la section des informations de contact */
.contact-info {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  /* Style pour le formulaire de contact */
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .contact-form textarea {
    height: 150px;
  }
  
  .contact-form .submit-btn {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form .submit-btn:hover {
    background-color: rgb(63, 60, 60);
  }
  